html
  head
    link(rel='stylesheet', href='/style.css')
  body
    h1= title
    h2 Happy Dancing
    h3 another thing!

    p.box Why nothing show up?

    p Another paragraph 1

    p Another paragraph 2

    p Another paragraph 3

    p Another paragraph 4
